:host {
   display: inline-block;
   width: 280px;
   box-sizing: border-box;
   padding: 10px 20px;
   background-color: white;
   border-radius: 10px;
   margin-bottom: 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.avatar {
   margin-bottom: 20px;
   text-align: center;
   position: relative;
}

.avatar img {
   border-radius: 100%;
   width: 100px;
}

.delete {
   position: absolute;
   right: 0;
   background-color: transparent;
   border: none;
}

.delete span {
   font-size: 20px;
   color: #c25a5f
}

.name, .position {
   margin-bottom: 10px;
}

.name {
   font-size: 20px;
   font-weight: 700;
   color: #4c4c4c;
}

.position, .workload {
   font-size: 18px;
   color: #4c4c4c;
}