:host {
   display: block;
   padding: 15px 0px;
   margin-bottom: 40px;
   background-color: #2675eb;
}

.wrapper {
   max-width: 1200px;
   margin: auto;
}

.title {
   color: white;
   font-size: 32px;
}