:host {
   display: block;
   padding: 5px 0px;
   margin-bottom: 40px;
   background-color: #2675eb;
}

.wrapper {
   max-width: 1200px;
   margin: auto;
}

.flex-container {
   display: flex;
   align-items: center;
}

.main-header {
   margin-right: 20px;
   width: 64px;
   height: 64px;
}

.title {
   color: white;
   font-size: 36px;
}

.login {
   display: flex;
   align-items: center;
   margin-left: auto;
}

.user-name {
   margin-right: 10px;
   font-size: 20px;
   color:white;
}

.login-button, .logout-button {
   font-size: 20px;
   color:white;
   background-color: transparent;
   border: none;
}

.login-button:hover, .logout-button:hover {
   opacity: 0.6;
}