<ul class="task-board flex-container">
   <li>
      <p class="backlog-title">Бэклог</p>
      <ul class="backlog-tasks">
         <li class="backlog-task" *ngFor="let task of tasks">

         </li>
      </ul>
   </li>
   <li>
      <p class="active-title">В процессе</p>
      <ul class="active-tasks">
         <li class="active-task">

         </li>
      </ul>
   </li>
   <li>
      <p class="completed-title">Готово</p>
      <ul class="completed-tasks">
         <li class="completed-task">

         </li>
      </ul>
   </li>
   <li>
      <p class="trash-title">Корзина</p>
      <ul class="trash-tasks">
         <li class="trash-task">

         </li>
      </ul>
   </li>
</ul>