<form [formGroup]="taskEditForm">
   <div class="task-name">
      <input type="text" placeholder="Название задачи..." formControlName="taskName" [ngClass]="{'danger-warning': taskEditForm.controls['taskName'].invalid}">
   </div>
   <div class="flex-container">
      <div class="task-description">
         <p>Описание</p>
         <textarea placeholder="Описание задачи..." rows="5" cols="25" formControlName="taskDescription"></textarea>
      </div>
      <div class="summary">
         <p class="title">Сведения</p>
         <div class="task-executor">
            <p>Исполнитель:</p>
            <select formControlName="taskExecutor">
               <option value="null">Не назначен</option>
               <option *ngFor="let employee of employees" [ngValue]="employee.name">{{employee.name}}</option>
            </select>
         </div>
         <div class="task-priority">
            <p>Приоритет:</p>
            <select formControlName="taskPriority">
               <option *ngFor="let priority of priorities" [ngValue]="priority">{{priority}}</option>
            </select>
         </div>
         <div class="task-remaining-work">
            <p>Время работы (в часах):</p>
            <input type="number" min="0" formControlName="taskRemainingWork">
         </div>
      </div>
   </div>
   <div class="container">
      <button mat-dialog-close class="close-button">
         <span>Закрыть</span>
      </button>
      <button class="edit-button" (click)="editTask()" [disabled]="!taskEditForm.dirty || taskEditForm.controls['taskName'].invalid">
         <span>Сохранить</span>
      </button>
   </div>
<form>