<div class="container" [ngClass]="{'backlog': taskType == 'Backlog',
                                 'active': taskType == 'Active',
                                 'completed': taskType == 'Completed',
                                 'trash': taskType == 'Trash'}">
   <p class="title">
      {{titles[taskType]}}
   </p>
   <ul>
      <li class="task" *ngFor="let task of tasks">
         <app-task [taskName]="task.name" [taskDescription]="task.description"></app-task>
      </li>
   </ul>
</div>