<div class="container" [ngClass]="{'backlog': taskType == 'Backlog',
                                 'active': taskType == 'Active',
                                 'completed': taskType == 'Completed',
                                 'trash': taskType == 'Trash'}">
   <p class="title">
      {{titles[taskType]}}
   </p>
   <ul [ngClass]="{'empty': taskType == 'Trash' && tasks.length == 0}" cdkDropList [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)">
      <li class="task" *ngFor="let task of tasks" cdkDrag>
         <app-task [task]="task"></app-task>
      </li>
   </ul>
   <button type="button" class="clear-btn" *ngIf="taskType == 'Trash'" [disabled]="tasks.length == 0" (click)="deleteTasks()"> 
      <span>&#10006; Очистить</span>
   </button>
</div>