.container .title {
   display: inline-block;
   margin-bottom: 20px;
   padding: 7px 12px;
   font-size: 20px;
   border-radius: 6px;
}

.container.backlog .title {
   color: #8a8a8a;
   background-color: #e0e0e0;
}

.container.active .title {
   color: #4f8bd9;
   background-color: #d1e2fc;
}

.container.completed .title {
   color: #79b07e;
   background-color: #d4f7d7;
}

.container.trash .title {
   color: #b77579;
   background-color: #fbdfdc;
}

.task:not(:last-child) {
   margin-bottom: 10px;
}